matab-more-page{
    ion-label.day{
        width:40%;max-width:40%;
    }
    ion-select.day{
        width:60% !important;min-width:60% !important;
        text-align: right !important;
        float: right !important;
    }
}