<ion-header class="item-center">
    <ion-navbar color="redColor" text-center>
        <ion-title>
            استان ها و شهرستان ها
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <form novalidate [formGroup]="dataForm">
        <ion-grid>
            <ion-row justify-content-center>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-label floating>
                                <span>
                                    <i class="fal fa-sort-numeric-up"></i>
                                    <span> پیش شماره استان</span>
                                </span>
                            </ion-label>
                            <ion-input formControlName="ostan_code" autocomplete="off" text-center></ion-input>
                        </ion-item>
                        <ng-container *ngFor="let validation of validation_msg.ostan">
                            <div class="error-msg" *ngIf="dataForm.get('ostan_code').hasError(validation.type) && 
                                    (dataForm.get('ostan_code').dirty || dataForm.get('ostan_code').touched)">{{validation.message}}</div>
                        </ng-container>
                        <ion-item>
                            <ion-label floating>
                                <span>
                                    <i class="fal fa-file-alt"></i>
                                    <span> نام استان</span>
                                </span>
                            </ion-label>
                            <ion-input formControlName="ostan_name" autocomplete="off" text-center></ion-input>
                        </ion-item>
                        <ng-container *ngFor="let validation of validation_msg.ostan">
                            <div class="error-msg" *ngIf="dataForm.get('ostan_name').hasError(validation.type) && 
                                    (dataForm.get('ostan_name').dirty || dataForm.get('ostan_name').touched)">{{validation.message}}</div>
                        </ng-container>
                        <button ion-button block color="dark" [disabled]="dataForm.invalid" (click)="save_ostan(dataForm.value)">ذخیره</button>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>

                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-list inset>
        <ion-item color="dark">
            <ion-row text-center no-padding no-margin>
                <ion-col col-2>
                    <h2 ion-text>کد استان</h2>
                </ion-col>
                <ion-col>
                    <h2 ion-text>نام استان</h2>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item-sliding *ngFor="let t of data_list">
            <ion-item>
                <ion-row text-center no-padding no-margin>
                    <ion-col col-2>
                        <h2 ion-text>{{t.ostan_code}}</h2>
                    </ion-col>
                    <ion-col>
                        <h2 ion-text>{{t.ostan_name}}</h2>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button (click)="share(slidingItem)">Share</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="totalPage < totalData" threshold="1px">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="نمایش بیشتر"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>