<ion-header class="item-center">
    <ion-navbar color="redColor" text-center>
        <ion-title>
            اطلاعات اولیه مطب
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <form novalidate [formGroup]="dataForm">
        <ion-grid formGroupName="matab_base">
            <ion-row justify-content-center>
                <ion-col>
                    <ion-item>
                        <ion-label style="width:30%;max-width:30%;">
                            <i class="fal fa-user-md"></i>
                            پزشک
                        </ion-label>
                        <select-searchable item-content formControlName="matab_doctor" [items]="doctor_list" closeButtonText="Close" itemValueField="doctor_code"
                            itemTextField="doctor_name" [canSearch]="true" [hasInfiniteScroll]="true" 
                            (onSearch)="searchDoctorsInfinite($event)"
                            (onInfiniteScroll)="getMoreDoctors($event)" [isEnabled]="true">
                            <ng-template selectSearchableItemTemplate let-doctor="item">
                                {{doctor.doctor_name}}
                                <span style="font-size:1.2rem;color:gray;">({{doctor.cd.cd_name}})</span>
                            </ng-template>
                            <ng-template selectSearchableItemRightTemplate let-doctor="item">
                                <img [src]="doctor.doctor_pic" style="width:100%;height:auto;max-width:48px;" />
                            </ng-template>
                        </select-searchable>
                    </ion-item>
                    <ion-item>
                        <ion-label style="width:30%;max-width:30%;">
                            <i class="fal fa-level-down-alt"></i>
                            نام شهر
                        </ion-label>
                        <select-searchable item-content formControlName="matab_city" [items]="city_list" closeButtonText="Close" itemValueField="city_code"
                            itemTextField="city_name" [canSearch]="true" [hasInfiniteScroll]="true" (onSearch)="searchCitysInfinite($event)"
                            (onInfiniteScroll)="getMoreCitys($event)" [isEnabled]="true">
                            <ng-template selectSearchableItemTemplate let-city="item">
                                {{city.city_name}}
                                <span style="font-size:1.2rem;color:gray;">({{city.ostan.ostan_name}})</span>
                            </ng-template>
                        </select-searchable>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row no-padding no-margin>
                <ion-col col-6>
                    <ion-item>
                        <ion-label floating>
                            <span>
                                <i class="fal fa-phone-volume"></i>
                                <span> تلفن</span>
                            </span>
                        </ion-label>
                        <ion-input formControlName="matab_tel" autocomplete="off" text-center type="number"></ion-input>
                    </ion-item>
                    <ng-container *ngFor="let validation of validation_msg.mobile">
                        <div class="error-msg" *ngIf="dataForm.get('matab_base').get('matab_tel').hasError(validation.type) && 
                            (dataForm.get('matab_base').get('matab_tel').dirty || dataForm.get('matab_base').get('matab_tel').touched)">{{validation.message}}</div>
                    </ng-container>
                </ion-col>
                <ion-col col-6>
                    <ion-item>
                        <ion-label floating>
                            <span>
                                <i class="fal fa-fax"></i>
                                <span> دورنگار</span>
                            </span>
                        </ion-label>
                        <ion-input formControlName="matab_fax" autocomplete="off" text-center type="number"></ion-input>
                    </ion-item>
                    <ng-container *ngFor="let validation of validation_msg.mobile">
                        <div class="error-msg" *ngIf="dataForm.get('matab_base').get('matab_fax').hasError(validation.type) && 
                            (dataForm.get('matab_base').get('matab_fax').dirty || dataForm.get('matab_base').get('matab_fax').touched)">{{validation.message}}</div>
                    </ng-container>
                </ion-col>
                <ion-col col-12>
                    <ion-item>
                        <ion-label floating>
                            <span>
                                <i class="fal fa-file-alt"></i>
                                <span> آدرس</span>
                            </span>
                        </ion-label>
                        <ion-textarea formControlName="matab_address"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <ion-item no-lines>
                        <button ion-button block color="dark" [disabled]="dataForm.get('matab_base').invalid"
                            (click)="save(dataForm.value)">ذخیره</button>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
    <ion-list inset no-padding no-margin>
        <ion-list-header>
            <ion-searchbar text-right [(ngModel)]="input_search" placeholder="نام پزشک"></ion-searchbar>
        </ion-list-header>
        <ion-item-sliding *ngFor="let data of data_list | filterMatab: input_search; let idx = index;">
            <ion-item>
                <ion-avatar item-left>
                    <img [src]="data?.matab_base.matab_doctor.doctor_pic" style="width:100;height:auto;max-width:64px;">
                </ion-avatar>
                <h2>نام پزشک:
                    <span ion-text color="dark">{{data?.matab_base.matab_doctor.doctor_name}}</span>
                </h2>
                <ion-note> شهر:
                    <span>{{data?.matab_base.matab_city.city_name}}</span>
                </ion-note>
            </ion-item>
            <ion-item-options side="right" (ionSwipe)="set_data(data, idx)" text-center>
                <h2 ion-text color="light" style="font-size:1.5rem;">
                    <ion-icon name="md-create"></ion-icon>
                    <br/>
                    <span margin>ویرایش</span>
                </h2>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="totalPage < totalData" threshold="1px">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="نمایش بیشتر"></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>