type-work-page{
    ion-label.td{
        width:25%;max-width:25%;font-size:1.4rem;
    }
    ion-select.td{
        width:75% !important;min-width:75% !important;
        text-align: right !important;
        float: right !important;
    }
}