type-work-page{
    ion-label.td{
        width:20%;max-width:20%;
    }
    ion-select.td{
        width:80% !important;min-width:80% !important;
        text-align: right !important;
        float: right !important;
    }
}